.card_details{
    width:600px;
    margin: auto;
    padding: 15px;
 
}
.card_bg{
    background-color: #e6e6e6 !important;
}
.card_details_img{
    width: 400px;
    max-height: 400px;
    height: auto;
    object-fit: contain;
    margin: auto;
}
.premearBtn:hover{
    background-color: transparent !important;
}